body {
  background: black;
  color: white;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}
.scores {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}
.scores div {
  position: relative;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
}
.scores div .score {
  position: absolute;
  bottom: 6rem;
  font-weight: bold;
  font-size: 20rem;
}
.scores div .games {
  position: absolute;
  top: 3rem;
  font-weight: bold;
  font-size: 5rem;
}
.scores div .name {
  position: absolute;
  top: 4rem;
  font-size: 2rem;
}
.scores div .serve {
  position: absolute;
  top: 9rem;
}
.scores div .serve img {
  display: none;
}
.scores div .serve img.show {
  display: block;
}
#red-score { background: #b00; }
#blue-score { background: #00b; }
#red-score .score { right: 5rem; }
#blue-score .score { left: 5rem; }
#red-score .games { left: 5rem; }
#blue-score .games { right: 5rem; }
#red-score .name { right: 5rem; }
#blue-score .name { left: 5rem; }
#red-score .serve { right: 5rem; }
#blue-score .serve { left: 5rem; }

.controls {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  text-align: center;
}

.controls button#reset {
  border-style: solid;
  border-width: 2px 2px 0;
  border-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 4rem;
  /* background: #47962D; */
  background: transparent;
  color: white;
  font-size: 2rem;
  border-radius: 0.5em 0.5em 0 0;
}
